.container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    row-gap: 10px;
}

.container h1{
    font-size: 2.5rem;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    column-gap: 10px;
}

.container button{
    width: 100%;
}